body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url('Images/Div [banner]banner.png') no-repeat center center/cover;
    color: white;
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
}

.header-content {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.header-content p {
    font-size: 1.2em;
    color: orange;
    margin-bottom: 20px;
}

.header-content h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.header-content button {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.header-content button:hover {
    background-color: darkorange;
}

.services {
    padding: 50px 20px;
    text-align: center;
}

.service-icons img {
    max-width: 50px;
    margin: 0 10px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: #f9f9f9;
    margin: 10px;
    padding: 20px;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about {
    display: flex;
    align-items: center;
    padding: 50px 20px;
    background: #f4f4f4;
}

.about-image {
    max-width: 300px;
    margin-right: 20px;
}

.about-content {
    max-width: 600px;
}

.about h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.about h2 span {
    color: orange;
}

.contact h3 {
    margin-top: 20px;
    color: orange;
}

footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    max-width: 250px;
    margin: 10px;
}

.logo-section img {
    max-width: 50px;
    margin-bottom: 10px;
}

.logo-section p {
    margin: 10px 0;
}

.logo-section button {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.logo-section input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.learn-more h4 {
    border-bottom: 2px solid orange;
    display: inline-block;
    margin-bottom: 10px;
}

.learn-more ul {
    list-style: none;
    padding: 0;
}

.learn-more ul li {
    margin: 5px 0;
}
